/* These are the default properties of the wrapper */
.mediasWrapper {
  display: flex;
  justify-content: center;
  overflow-x: visible;
  scrollbar-width: none;
  max-width: 100%;
}

/* These are the default properties of the media cards */
.mediasWrapper > div {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .mediasWrapper {
    flex-direction: column;
  }
}
