/* These are the default properties of the wrapper */
.mediasWrapper {
  display: flex;
  justify-content: center;
  overflow-x: visible;
  scrollbar-width: none;
}

/* These are the default properties of the media cards */
.mediasWrapper > div {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
