.projectsPortal {
  backdrop-filter: var(--default-blur);
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  will-change: transform;
  overflow-y: scroll;
  z-index: 1;
}

.projectsPortal.transition {
  transition: var(--normal-transition) var(--default-animation);
}
