/* This is the panel that will display the menu */
.sidePanel {
  position: absolute;
  top: 0px;
  padding: var(--logo-height-offset) 15px 0px 15px;
  height: 100%;
  min-width: 33%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 10;

  transition: var(--normal-transition) var(--default-animation);
}

/* If closed the panel is invisible on the left of the screen */
.sidePanel.closed {
  transform: translateX(-100%);
}

/* If open, it will be shown at its default place */
.sidePanel.open {
  box-shadow: 50px 0px 150px black;
  transform: translateX(0%);
}

.sidePanel > nav img,
.sidePanel > nav svg {
  height: 20px;
}

.sidePanel > nav:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.sidePanel > nav:last-of-type {
  display: flex;
  justify-content: space-around;
}

/* This button can open and close the side panel */
.crossButton {
  position: absolute;
  top: 0px;
  left: 100%;
  width: fit-content;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.crossButton > svg {
  height: 30px;
  transition: var(--slow-transition) var(--default-animation);
}

/* If the side panel is closed, the x mark looks like a + */
.sidePanel.closed > button > svg {
  transform: rotate(-45deg);
}

.logoButton {
  position: fixed;
  left: 50%;
  top: var(--logo-position);
  transition: var(--normal-transition) var(--default-animation);
  transform: translateX(-50%);
  z-index: 10;
}

.sidePanel.open ~ .logoButton {
  left: 16.5%;
}

.logoButton > img {
  height: var(--logo-height);
}

@media (max-width: 1023px) {
  /* On smaller screens, the side panel control button sticks out of the panel */
  .crossButton {
    top: 0px;
    left: 100%;
  }
}

@media (max-width: 767px) {
  .sidePanel {
    min-width: 50%;
  }

  .sidePanel > nav:last-of-type {
    flex-direction: column;
    gap: 15px;
  }

  .sidePanel.open ~ .logoButton {
    left: 25%;
  }
}
