.containerModule > div {
  padding: 50px 0px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.containerModule > div > div {
  flex-wrap: wrap;
}

.mediasCard > img {
  width: 100%;
  max-width: 80vw;
}

@media (max-width: 1023px) {
  .containerModule > div > div {
    flex-wrap: nowrap;
  }

  .mediasCard > img {
    width: auto;
  }
}
