.containerModule > div {
  padding: 50px 0px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediasContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mediasWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaCard {
  flex: 1;
  height: fit-content;
}

.mediaCard > img {
  width: 100%;
}

/* @media (max-width: 1023px) {
  .containerModule > div > div {
    flex-wrap: nowrap;
  }
} */
