.fullpage > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.mediasWrapper {
  height: 100%;
  width: 100%;
}

/* MediasWrapper and TextWrapper (only if there is a TextWrapper) */
.fullpage > div:has(> div:nth-of-type(2)) > div {
  width: 50%;
  flex: 1;
}

.mediaCard {
  overflow: hidden;
  flex: 1;
}

@media (max-width: 767px) {
  .fullpage > .noHeight {
    height: auto;
    min-height: 100%;
  }

  .fullpage > div > div:has(> :nth-child(2)) .mediaCard > img {
    width: 100%;
  }
}
