.fullpage > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.fullpage > div > div {
  height: 100%;
  width: 100%;
}

/* MediasWrapper and TextWrapper (only if there is a TextWrapper) */
.fullpage > div:has(> div:nth-of-type(2)) > div {
  width: 50%;
  flex: 1;
}

.mediasCard {
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.mediasCard > img {
  min-height: 100%;
}

@media (max-width: 1023px) {
  .fullpage > div > div {
    width: fit-content;
  }

  .fullpage > div:has(> div:nth-of-type(2)) > div {
    width: auto;
    min-height: 50%;
  }

  .mediasCard {
    flex: content;
  }
}
