.modaleWrapper {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  backdrop-filter: var(--default-blur);
  transition: var(--normal-transition) var(--default-animation);
}
