.modaleWrapper {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  backdrop-filter: var(--default-blur);
  transition: var(--normal-transition) var(--default-animation);
}

.modaleWrapper > button {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 35px;
  transition: inherit;
  z-index: 10;
}

.modaleWrapper > button:hover {
  scale: 1.25;
}
