.logo {
  position: absolute;
  left: 5%;
  z-index: 10;

  /* This makes the logo appear from above the window */
  transform: translateY(-100%);
  transition: 500ms;
}

.logo > button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 30px;
}

.logo span {
  border-radius: 3px;
  padding: 5px 10px;
  opacity: 0;
  transition: 500ms;
}

.logo img:hover + span {
  opacity: 1;
}
