.content {
  display: flex;
  gap: var(--columns-gap);
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title {
  position: absolute;
  top: var(--logo-height-offset);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: fit-content;
  padding: 5px 10px;
  text-align: center;
}

.content > div {
  height: 100%;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}

.mediasContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.mediasContainer img {
  height: 100%;
}

.mediasContainer > div {
  flex: 1;
}

.mediaCardFrame {
  width: 100%;
}

.mediaCardFrame > div {
  width: 100%;
  height: 100%;
}

.textContainer {
  padding: var(--logo-height-offset) 30px;
  min-height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .mediasContainer {
    flex-direction: column;
  }

  .mediasContainer > div {
    height: 100%;
  }
}
