.content {
  display: flex;
  gap: var(--columns-gap);
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content > div {
  height: 100%;
  flex: 1;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.mediasContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.mediasContainer img {
  height: 100%;
}

.mediasContainer > div {
  flex: 1;
}

.textContainer {
  margin: var(--logo-height-offset) auto;
}

@media (max-width: 768px) {
  .mediasContainer {
    flex-direction: column;
  }

  .mediasContainer > div {
    height: 100%;
  }
}
