.layoutContainer {
  overflow-y: scroll;
  will-change: scroll-position;
  scroll-snap-type: y mandatory;
  height: 100%;
  position: relative;
  scrollbar-width: none;
}

.layoutContainer > div {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100%;
  width: 100%;
}
