.coverContainer {
  will-change: opacity;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.coverContainer > img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(var(--standard-shadow));
}

.coverContainer > div {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: var(--default-blur);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}
