:root {
  --normal-transition: 500ms;
  --slow-transition: 750ms;
  --fast-transition: 250ms;
  --fastest-transition: 100ms;
  --default-animation: ease-in-out;

  --logo-position: 10px;
  --logo-height: 60px;
  --logo-height-offset: calc(var(--logo-position) * 2 + var(--logo-height));

  --small-radius: 3px;

  --default-blur: blur(15px);

  --standard-shadow: 0px 0px 50px;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ----------------------------------------RESET---------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: inherit;
  background: none;
}

strong,
em,
u,
del {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit;
  background: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea {
  outline: none;
  border: none;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ---------------------------------------GLOBALS--------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

html {
  overflow: hidden;
  width: 100vw;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
}

pre {
  border-radius: var(--small-radius);
  padding: 5px;
  min-height: fit-content;
  overflow-x: auto;
  font-family: "Courier New", monospace;
}

blockquote {
  content: open-quote;
  font-size: 1.2em;
  font-style: italic;
  color: inherit;
  border-left: 5px solid;
  padding: 20px 30px;
  margin: 20px 0;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:not(.grabbable, .grabbed) {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 70%;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.grabbable {
  cursor: grab;
}

.grabbable:active {
  cursor: grabbing;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.viewport {
  height: 100vh;
}

.viewport > main {
  overflow: hidden;
  height: 100%;
}

/* The element needs to have a default max-height value in order to be animated properly */
.zero-height {
  max-height: 0% !important;
}

.zero-width {
  width: 0px !important;
}

@media (max-width: 1023px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 768px) {
  :root {
    --logo-height: 45px;
  }

  .flex-row {
    flex-direction: column;
  }

  .flex-row-reverse {
    flex-direction: column-reverse;
  }

  .text-size-small {
    font-size: 15px;
  }

  .text-size-medium {
    font-size: 30px;
  }

  .text-size-large {
    font-size: 45px;
  }

  .text-size-x-large {
    font-size: 60px;
  }
}
