/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ----------------------------------------RESET---------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: inherit;
  background: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea {
  outline: none;
  border: none;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ---------------------------------------GLOBALS--------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

body {
  scrollbar-gutter: stable;
}

button:not(.grabbable, .grabbed) {
  cursor: pointer;
}

section {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  scrollbar-gutter: stable;
}

section:first-of-type {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 70%;
}

.grabbable {
  cursor: grab;
}

.grabbed {
  cursor: grabbing;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.inactive {
  opacity: 0.2;
}

.scaled-down {
  scale: 0.5;
  height: 0%;
}

/* The element needs to have a default max-height value in order to be animated properly */
.zero-height {
  max-height: 0% !important;
}

.zero-width {
  width: 0px !important;
}

.viewport {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.viewport > main {
  flex: 1;
}
