:root {
  --normal-transition: 500ms;
  --slow-transition: 750ms;
  --fast-transition: 250ms;
  --default-animation: ease-in-out;

  --logo-position: 10px;
  --logo-height: 60px;
  --logo-height-offset: calc(var(--logo-position) * 2 + var(--logo-height));

  --small-radius: 3px;

  --default-blur: blur(15px);

  --standard-shadow: 0px 0px 50px;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ----------------------------------------RESET---------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: inherit;
  background: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea {
  outline: none;
  border: none;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ---------------------------------------GLOBALS--------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

html {
  overflow: hidden;
}

body {
  scrollbar-gutter: stable;
}

button:not(.grabbable, .grabbed) {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 70%;
}

.error-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  height: 100%;
}

.error-component > h2 {
  font-size: 50px;
}

.error-component > button,
.error-component > a {
  font-size: 30px;
  border: 1px black solid;
  padding: 10px;
  border-radius: var(--small-radius);
  background-color: rgba(255, 255, 255, 0.5);
}

.error-component > button:hover > svg,
.error-component > a:hover > svg {
  transform: rotate(-360deg);
  transition: var(--normal-transition) var(--default-animation);
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.grabbable {
  cursor: grab;
}

.grabbable:active {
  cursor: grabbing;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.medium {
  font-size: 30px;
}

.small {
  font-size: 15px;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-size-x-small {
  font-size: 10px;
}

.text-size-small {
  font-size: 20px;
}

.text-size-medium {
  font-size: 40px;
}

.text-size-large {
  font-size: 60px;
}

.text-size-x-large {
  font-size: 80px;
}

.viewport {
  height: 100vh;
}

.viewport > main {
  overflow: hidden;
  height: 100%;
}

.xLarge {
  font-size: 100px;
}

/* The element needs to have a default max-height value in order to be animated properly */
.zero-height {
  max-height: 0% !important;
}

.zero-width {
  width: 0px !important;
}

@media (max-width: 1023px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 767px) {
  :root {
    --logo-height: 45px;
  }

  .flex-row {
    flex-direction: column;
  }

  .flex-row-reverse {
    flex-direction: column-reverse;
  }

  .text-size-small {
    font-size: 15px;
  }

  .text-size-medium {
    font-size: 30px;
  }

  .text-size-large {
    font-size: 45px;
  }

  .text-size-x-large {
    font-size: 60px;
  }
}
