.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  transition: 100ms;
  z-index: 1;
}

.logo {
  width: 30px;
}

.header > nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  gap: 30px;
}

.header > nav svg,
.header > nav img {
  height: 25px;
}
