.videoWrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper > div {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper > div img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videoWrapper > div button {
  transition: 250ms;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotate(-240deg); */
  opacity: 0.75;
}

.videoWrapper > div button:hover {
  /* transform: rotate(240deg); */
  scale: 1.25;
  opacity: 1;
}

.videoWrapper > div svg {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.videoPlayer {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
  /* position: relative; */
}
