.videoWrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper > div img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videoWrapper > div button {
  transition: var(--fast-transition) var(--normal-animation);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
}

.videoWrapper > div button:hover {
  scale: 1.25;
  opacity: 1;
}

.videoWrapper > div svg {
  width: 100px;
  height: 100px;
}

.videoPlayer {
  transition: var(--normal-transition) var(--default-animation);
  width: 100%;
  z-index: 1;
  object-fit: contain;
}

@media (max-width: 1023px) {
  div:has(> div.videoWrapper) {
    max-width: 100%;
  }

  .videoPlayer {
    padding: 0 10%;
  }
}
