.sectionNavigation {
  position: absolute;
  right: 0px;
  top: 50%;
  font-size: 20px;
  transform: translate(0%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top-left-radius: var(--small-radius);
  border-bottom-left-radius: var(--small-radius);
  transition: var(--normal-transition) var(--default-animation);
}

.sectionNavigation.close {
  transform: translate(100%, -50%);
}

.sectionNavigation > button {
  transition: inherit;
}

.sectionNavigation > button:first-of-type svg {
  transition: inherit;
}

.sectionNavigation.close > button:first-of-type svg {
  transform: rotateY(180deg);
}

.sectionNavigation > button:first-of-type {
  position: absolute;
  border: 1px solid;
  border-right: none;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  padding: 5px;
  border-radius: inherit;
  border-top-left-radius: var(--small-radius);
  border-bottom-left-radius: var(--small-radius);
}

.sectionNavigation > button:not(:first-of-type) {
  width: 30px;
}

.sectionNavigation > button:not(.activeButton):hover {
  opacity: 0.9;
}

.sectionNavigation > button.activeButton {
  scale: 1.33;
}

.inactiveButton {
  opacity: 0.67;
}

@media (max-width: 768px) {
  .sectionNavigation {
    padding: 5px;
    padding-top: 10px;
    gap: 5px;
    font-size: 15px;
  }
}
