.moduleWrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scroller {
  flex: 1;
  height: 100%;
  overflow: auto;
  scroll-snap-type: x mandatory;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroller::-webkit-scrollbar {
  display: none;
}

.scroller > div:first-of-type {
  height: 100%;
  overflow: hidden;
  position: sticky;
  top: 0px;
  left: 0px;
}

.ghost {
  display: flex;
  overflow-x: visible;
  position: sticky;
  bottom: 0px;
  left: 0px;
}

.ghost > div {
  flex: 1;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.navContainer {
  width: 100%;
  display: flex;
}

.navContainer > nav {
  width: fit-content;
  display: flex;
  gap: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: var(--small-radius) var(--small-radius) 0px 0px;
  border: 1px solid;
  border-bottom: none;
  margin: 0 auto;
}

.navContainer > nav > button {
  transition: var(--normal-transition) var(--default-animation);
}
