.moduleWrapper {
  position: relative;
}

.moduleWrapper > nav {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: var(--small-radius) var(--small-radius) 0px 0px;
}

.moduleWrapper > nav > button {
  transition: var(--normal-transition) var(--default-animation);
}
