.mediaCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  container-type: inline-size;
  width: 100%;
}

.mediaWindow {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.mediaWindow > div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 3px 5px;
  font-size: 15px;
  border-radius: var(--small-radius);
  z-index: 1;
  user-select: none;
}

.mediaWindow img {
  will-change: transform;
  filter: blur(0px);
  transition: filter var(--normal-transition) var(--default-animation),
    box-shadow var(--normal-transition) var(--default-animation);
}

.mediaCardWrapper.contained > .mediaWindow img {
  filter: var(--default-blur);
  box-shadow: var(--standard-shadow);
}

.buttonsContainer {
  position: absolute;
  z-index: 1;
  top: 25px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  overflow: hidden;
  opacity: 0.5;
  border-radius: var(--small-radius);
  transition: var(--normal-transition) var(--default-animation);
}

.buttonsContainer:nth-of-type(2) {
  right: 25px;
}

.buttonsContainer:nth-of-type(3) {
  right: 80px;
}

.mediaCardWrapper > img:hover ~ .buttonsContainer {
  opacity: 0.75;
}

.buttonsContainer:hover {
  opacity: 0.9;
}

.buttonsContainer > div {
  position: absolute;
  transition: inherit;
  width: 100%;
  height: 100%;
}

.buttonsContainer > div.active {
  z-index: 1;
}

.altDisplay {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  opacity: 0;
  transition: var(--normal-transition) var(--default-animation);
}

.altDisplay > img {
  filter: drop-shadow(var(--standard-shadow));
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.mediaCardWrapper.contained .altDisplay {
  opacity: 1;
  transform: translateX(0%);
}

.background {
  position: absolute;
  inset: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: var(--default-blur);
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@container (max-width:500px) {
  .buttonsContainer {
    width: 35px;
    height: 35px;
    font-size: 35px;
    top: 10px;
  }

  .buttonsContainer:nth-of-type(2) {
    right: 10px;
  }

  .buttonsContainer:nth-of-type(3) {
    right: 50px;
  }
}
