.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  transition: var(--normal-transition) var(--default-animation);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slider > div {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider > div > img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.carouselContainer > button {
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  padding: 0px 35px;
  opacity: 0.5;
  transition: var(--normal-transition) var(--default-animation);
}

.carouselContainer > button:hover {
  opacity: 1;
}

.carouselContainer > button:first-of-type {
  left: 0px;
}

.carouselContainer > button:last-of-type {
  right: 0px;
}

.carouselContainer > nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  padding: 10px;
  border-radius: var(--small-radius);
  font-size: 20px;
}

.carouselContainer > nav > button {
  transition: var(--normal-transition) var(--default-animation);
}

@media (max-width: 768px) {
  .carouselContainer {
    height: 100%;
    gap: 0px;
  }

  .carouselContainer > nav {
    position: absolute;
    bottom: 0px;
  }
}
