.sectionSwiper {
  /* The section swiper has an absolute position in its parent which is a section */
  position: absolute;
  bottom: 30px;
  z-index: 1;

  /* A flex display to center the button */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  /* The container can be interacted with in all the window's width */
  width: 100%;

  /* A default opacity of .5... */
  opacity: 0.5;
  transition: 500ms;
}

/* That will be of 1 when hovered */
.sectionSwiper:hover {
  opacity: 1;
}

.swiperButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}

.swiperButton svg {
  height: 30px;
}

/* The component's text tag */
.sectionSwiper > span {
  user-select: none;
  border-radius: 3px;
  padding: 5px 10px;

  /* An opacity of 0  */
  opacity: 0;
  transition: 500ms;
}

/* That will be of 1 when the container is hovered */
.sectionSwiper:hover > span {
  opacity: 1;
}
