.multiImagesColumn {
  display: flex;
  justify-content: center;
}

.mediasWrapper {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mediaCard {
  width: 100%;
  height: 100%;
}

.mediaCard > img {
  height: 100%;
}
