.multiImagesColumn {
  display: flex;
  justify-content: center;
}

.multiImagesColumn > div {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.multiImagesColumn img {
  min-height: 100%;
}

@media (max-width: 1023px) {
  .multiImagesColumn > div {
    width: auto;
  }
}
