.multiImagesColumn {
  display: flex;
  justify-content: center;
}

.multiImagesColumn > div {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.multiImagesColumn img {
  height: 100%;
  transform: translateX(0px);
  transition: 250ms;
}
