.projectCard {
  position: absolute;
  cursor: pointer;
  transition: var(--normal-transition) var(--default-animation);
}

.projectCard.transparent {
  opacity: 0.25;
}

.projectCard img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
