.sectionNavigation {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-right: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 1;
}

.sectionNavigation > button {
  width: 30px;
}

.sectionNavigation > button,
.sectionNavigation > button > svg {
  transition: var(--fast-transition) var(--normal-animation);
}

.sectionNavigation svg {
  height: 20px;
}

.sectionNavigation > button:not(.activeButton):hover {
  opacity: 0.9;
}

.activeButton > svg {
  height: 30px;
}

.inactiveButton {
  opacity: 0.67;
}

@media (max-width: 768px) {
  .sectionNavigation {
    padding: 5px;
    padding-right: 10px;
  }

  .sectionNavigation svg {
    height: 15px;
  }

  .activeButton > svg {
    height: 25px;
  }
}
@media (max-width: 425px) {
  .sectionNavigation {
    padding: 10px;
  }
}
